<div class="container-fluid">
  <h1>User Registration</h1>

  <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    {{regForm.value|json}}
    <div class="form-group mb-3">
      <label>User Name</label>
      <input class="form-control" type="text" formControlName="userName" [class.d-none]="userName.invalid && regForm.get('userName').touched">
      <small class="error-text" [class.d-none]="regForm.get('userName').valid && regForm.get('userName').untouched">Data Invalid</small>
    </div>
    <div class="form-group mb-3">
      <label>Password</label>
      <input class="form-control" type="password" formControlName="password">
    </div>
    <div class="form-group mb-3">
      <label>Email</label>
      <input class="form-control" type="email" formControlName="email">
    </div>
    <button class="btn btn-primary" type="submit">Sign up</button>
  </form>
</div>