<h1 style="color:green">Enjoy The Journey to the Wild</h1>
<hr>
<!--
<div class="row">
    <div class="col">
        <app-content>
            <h5 class="card-title">King of the Jungle</h5>
        </app-content>
    </div>
    <div class="col">
        <app-content>
            <h5 class="card-title">Explore Tigers</h5>
        </app-content>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-content>
            <h5 class="card-title">Explore Deers</h5>
        </app-content>
    </div>
    <div class="col">
        <app-content>
            <h5 class="card-title">Explore Wolves</h5>
        </app-content>
    </div>
</div>
<hr>
-->
<app-attr-directives></app-attr-directives>